%h3
  Post a comment

= form_for [@article, @comment] do |f| 
  %p
    = f.label :author_name, "Your name"
    = f.text_field :author_name
    %br/
  %p
    = f.label :body, "Your comment"
    = f.text_area :body

  %p
    = f.submit "Submit"