=form_for(@article, html: {multipart: true}) do |f|
  %ul
    - @article.errors.full_messages.each do |error|
      %li = error

  %p
    = f.label :title
    = f.text_field :title

  %p
    = f.label :tag_list
    = f.text_field :tag_list

  %p
    = f.label :body
    = f.text_area :body

  %p
    - if @article.image.exists?
      = image_tag @article.image.url
      
    = f.label :image, "Attach an image"
    = f.file_field :image
  %p
    = f.submit