!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blogger
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if flash.notice
      %p.flash= flash.notice
    .ui.secondary.pointing.menu
      .header.item
        = link_to "Thought Book", root_path
      .nav.center
        .center-nav-links
          %a= link_to 'New Article', new_article_path
          %a= link_to 'Writers', authors_path
      .nav.right
        %a
          - if logged_in?
            = "#{current_user.email}"
            .log
              = link_to "Logout", logout_path
          - else
            .log
              = link_to "Login", login_path

    = yield
    
